@charset "UTF-8";
@font-face {
    font-family:"DMsans" ;
    src: url('../font/DMSans-Light.ttf') format('truetype');
}
@font-face {
    font-family:"Play" ;
    src: url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
}


* {padding: 0px;margin: 0px;}
html {scroll-behavior: smooth;scroll-padding-top: 220px;}
body {font-family: "DMsans";background-size: cover;background-color: whitesmoke;}
h3 {text-align: center;font-size: 30px;background-color:#2368accc;color: white;border-radius: 30px;width: 200px;margin: auto;margin-bottom: 20px;margin-top: 20px;text-shadow: rgba(0, 0, 0, 0.616) 1px 1px 1px;}

header {width: 100vw; height: auto;background-color:#2368accc;padding: 20px;color: white;font-family: "Play";text-shadow: rgba(0, 0, 0, 0.61) 1px 1px 1px;position: fixed;top: 0;left: 0;z-index: 20;}
header a {text-decoration: none;color: white;}
header h1 {font-size: 40px;}
header p {font-size: 16px;}
menu {display: none;text-align: right;padding-right: 20px;padding-left: 20px;}
menu ul {list-style-type: none;}
menu a {display: block; padding: 10px;color: white;text-decoration: none;text-align: center;min-width: 90px;}
menu a:hover {text-decoration: underline;cursor: pointer;transition-duration: 800ms;}
#menu {display: block;padding: 10px;text-align: left;cursor: pointer;}

body div {width: 70vw;display: block;margin: auto;padding: 20px;border-style: solid;border-radius: 20px;border-color: rgb(46,101,219);text-align: center;background-color: white;}

#div1 {margin-top: 200px;border: none;width: 90vw;background-color: whitesmoke;}
#div1 h2 {width: 35vw;font-size: 40px;text-align: justify;}
#zap {width: 70px;position: fixed;bottom: 10px;right: 10px;}
#zap:hover {transform: scale(1.2);transition: 800ms;}
#zap:not(:hover) {transform: scale(1.0);transition: 800ms;}

#divProjetos img {width: 300px;margin: 5%;z-index: 10;}
#divProjetos img:hover {transform: scale(1.2);transition: 800ms;}
#divProjetos img:not(:hover) {transform: scale(1.0);transition: 800ms;}


#divHabilidades img{width: 150px;vertical-align: middle;margin: 5%;}
#divHabilidades img:hover {transform: scale(1.2);transition: 800ms;}
#divHabilidades img:not(:hover) {transform: scale(1.0);transition: 800ms;}

#divSobremimint {width: 40vw;border-style: none;}
#divSobremimint img {width: 300px;display: block;margin: auto;margin-bottom: 10px;border-radius: 20px;}
#divSobremimint p {text-align: justify;}

#divServicos {margin-bottom: 50px;}
#divServicos img {margin: 5%;z-index: 10;}
#divServicos img:hover {transform: scale(1.2);transition: 800ms;}
#divServicos img:not(:hover) {transform: scale(1.0);transition: 800ms;}

#contatos {background-color: rgb(46,101,219);text-align: center;padding: 10px;}
#contatos img {width: 40px;margin-right: 20px;}

footer {background-color: black;text-align: center;padding: 10px;color:white}








