@charset "UTF-8";
@font-face {
    font-family:"DMsans" ;
    src: url('../font/DMSans-Light.ttf') format('truetype');
}
@font-face {
    font-family:"Play" ;
    src: url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
}


* {padding: 0px;margin: 0px;}
body {font-family: "DMsans";overflow-x: hidden;}
h3 {text-align: center;font-size: 30px;background-color:#2368accc;color: white;border-radius: 30px;width: 200px;margin: auto;margin-bottom: 20px;margin-top: 20px;}

header {width: 100vw; height: auto;background-color:#2368accc;padding: 20px;color: white;font-family: "Play";text-shadow: rgba(0, 0, 0, 0.61) 1px 1px 1px;position: fixed;top: 0;left: 0;}
header a {text-decoration: none;color: white;}
header h1 {font-size: 40px;}
header p {font-size: 16px;}
menu {display: none;text-align: right;padding-right: 20px;padding-left: 20px;}
menu ul {list-style-type: none;}
menu a {display: block; padding: 10px;color: white;text-decoration: none;text-align: center;min-width: 90px;}
menu a:hover {text-decoration: underline;cursor: pointer;transition: 1s;}
#menu {display: block;padding: 10px;text-align: left;cursor: pointer;}

div {padding: 30px;border-style: solid;border-radius: 20px;border-color: rgb(46, 101, 219);min-width: 320px;max-width: 1200px;margin: auto;}
#div1 {border-style: none;margin-left: 30px;}
#div1 div {border-style: none;}
#div1 h2 {font-size: 40px;width: 30vw;margin-bottom: 20px;text-align: justify;margin-top: 150px;}
#orc {display: inline}
#orc p {vertical-align: middle;}
#zap {width: 50px;height: 50px;}

#divProjetos {text-align: center;}
#divProjetos img {width: 320px;height: auto;margin: 30px;}

#divHabilidades {text-align: center;}
#divHabilidades img {width: 100px;margin: 30px;vertical-align: middle;}

#divSobremim {text-align: center;}
#divSobremimint {columns: 2;min-width: 600px;max-width: 700px;border: none;display: inline-block;text-align: justify;font-size: 20px;}
#foto_perfil {width: 300px;border-radius: 20px;}

#divServicos {text-align: center;}
#divServicos img {margin-right: 20px;}

#divContatos {width: 100vw;height: auto;background-color: rgb(46, 101, 219);margin-top: 30px;border-radius: 0px;text-align: center;padding: 20px;}
#divContatos img {width: 40px;margin-right: 20px;}

footer {width: 100vw;height: auto;background-color: rgb(0, 0, 0);color: white;text-align: center;padding: 16px;}
