@charset "UTF-8";
@font-face {
    font-family:"DMsans" ;
    src: url('../font/DMSans-Light.ttf') format('truetype');
}
@font-face {
    font-family:"Play" ;
    src: url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
}


* {padding: 0px;margin: 0px;}
body {font-family: "DMsans";background-size: cover;background-color: whitesmoke;}
h3 {text-align: center;font-size: 30px;background-color:#2368accc;color: white;border-radius: 30px;width: 200px;margin: auto;margin-bottom: 20px;margin-top: 20px;text-shadow: rgba(0, 0, 0, 0.616) 1px 1px 1px;}

header {width: 100vw; height: auto;background-color:#2368accc;padding: 20px;color: white;font-family: "Play";text-shadow: rgba(0, 0, 0, 0.61) 1px 1px 1px;position: fixed;top: 0;left: 0;}
header a {text-decoration: none;color: white;}
header h1 {font-size: 40px;}
header p {font-size: 16px;}
menu {display: none;text-align: right;padding-right: 20px;padding-left: 20px;}
menu ul {list-style-type: none;}
menu a {display: block; padding: 10px;color: white;text-decoration: none;text-align: center;min-width: 90px;}
menu a:hover {text-decoration: underline;cursor: pointer;transition: 1s;}
#menu {display: block;padding: 10px;text-align: left;cursor: pointer;}

body div {width: 70vw;display: block;margin: auto;padding: 20px;border-style: solid;border-radius: 20px;border-color: rgb(46,101,219);text-align: center;background-color: white;}

#div1 {margin-top: 200px;border: none;width: 90vw;background-color: whitesmoke;}
#div1 h2 {width: 35vw;font-size: 40px;text-align: justify;}
#zap {width: 70px;position: fixed;bottom: 10px;right: 10px;}


#divProjetos img {width: 300px;margin: 5%;}


#divHabilidades img{width: 100px;vertical-align: middle;margin: 5%;}

#divSobremimint {width: 40vw;border-style: none;}
#divSobremimint img {width: 300px;display: block;margin: auto;margin-bottom: 10px;border-radius: 20px;}
#divSobremimint p {text-align: justify;}

#divServicos {margin-bottom: 50px;}
#divServicos img {margin: 5%;}

#contatos {background-color: rgb(46,101,219);text-align: center;padding: 10px;}
#contatos img {width: 40px;margin-right: 20px;}

footer {background-color: black;text-align: center;padding: 10px;color:white}









/*
div {padding: 30px;border-style: solid;border-radius: 20px;border-color: rgb(46, 101, 219);}
#div1 {border-style: none;margin-left: 30px;display: block;margin: auto;}
#div1 div {border-style: none;}
#div1 h2 {font-size: 40px;width: 30vw;margin-bottom: 20px;text-align: justify;margin-top: 150px;}
#orc {display: inline}
#orc p {vertical-align: middle;}
#zap {width: 50px;height: 50px;}

#divProjetos {text-align: center;}
#divProjetos img {width: 320px;height: auto;margin: 30px;}

#divHabilidades {text-align: center;}
#divHabilidades img {width: 100px;margin: 30px;vertical-align: middle;}

#divSobremim {text-align: center;}
#divSobremimint {background-color: aquamarine;}
#foto_perfil {width: 300px;border-radius: 20px;margin: auto;display: block;}

#divServicos {text-align: center;}
#divServicos img {margin-right: 20px;}

#divContatos {width: 100vw;height: auto;background-color: rgb(46, 101, 219);margin-top: 30px;border-radius: 0px;text-align: center;padding: 20px;}
#divContatos img {width: 40px;margin-right: 20px;}

footer {width: 100vw;height: auto;background-color: rgb(0, 0, 0);color: white;text-align: center;padding: 16px;}
