@charset "UTF-8";

@media screen and (min-width: 768px) {
    #menu {display: none;}
    menu {display: block;}
    menu li {display:inline-block}
} 

@media screen and (max-width: 1600px) {
    #divProjetos img {width: 200px;margin: 5%;z-index: 10;}
    #divHabilidades img{width: 120px;vertical-align: middle;margin: 5%;}
    #divServicos img {width: 100px;}
    #div1 h2 { font-size: 30px;   }
    

}
@media screen and (max-width: 900px) {
    .sobreminint img{
        width: 180px;
        border-radius: 20px;
    }
    .sobreminint {
        border: none;
        width: 180px;
        text-align: justify;
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    #div1 h2 {width: 60vw;font-size: 25px;text-align: justify;}
    #divProjetos img {width: 200px;}
    #divHabilidades img{width: 100px;}
}

