@charset "UTF-8";

@media screen and (min-width: 768px) {
    header {display: flex;align-items: center;justify-content: space-between;}
    #menu {display: none;}
    menu {display: block;}
    menu li {display:inline-block}
} 

@media screen and (max-width: 1600px) {
    #divProjetos img {width: 200px;margin: 5%;z-index: 10;}
    #divHabilidades img{width: 120px;vertical-align: middle;margin: 5%;}
    #divServicos img {width: 100px;}
    #div1 h1 { font-size: 30px;   }
    

}
@media screen and (max-width: 900px) {
    .sobreminint {
        border: none;
        text-align: justify;
    }
}

@media screen and (max-width: 800px) {
    .sobreminint p {text-align: center;}
    #div1 {margin-top: 250px;}
    header img {display: block;margin: auto;}
}
@media screen and (max-width: 550px) {
    h3 {font-size: 20px;}
    #div1 h1 {width: 60vw;font-size: 20px;text-align: justify;}
    #divProjetos img {width: 200px;}
    #divHabilidades img{width: 100px;}
}